body {
 font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif
}
header {
 position: absolute;
 top: 0;
 left: 0;
 z-index: 1001;
 width: 100%;
 nav {
  transition: 0.4s;
  opacity: 0.4;
  &:focus,
  &:hover {
  opacity: 0.85;
   transition: 0.5s;
  }
  @media all and (max-width: 600px) {
   .brand-logo {
    font-size: 20px;
   }
  }
 }
}
@media all and (max-width: 993px) {
 #fp-nav {
  display: none;
 }
}
.btn-large {
 border-radius: 0px;
}
//Дочерние блоки одинаковой высоты
.flexparentheight {
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
 -webkit-flex-wrap: wrap;
 -ms-flex-wrap: wrap;
 flex-wrap: wrap;
}
.flexchildeheight {
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
}
//Удалить от сюда
.htest {
 text-align: center;
 color: white;
}
.sblock1 {
 background: url("/src/img/jpg/001.jpg");
 background-size: cover;
}
.sblock2, .sblock4 {
 background-image: linear-gradient(to right bottom, #315b97, #037cb7, #009ed0, #00c0e1, #12e2eb);
}
.sblock3 {
 background: url("/src/img/jpg/003.jpg");
 background-size: cover;
}
.fullcontentest img {
  width: 100px;
 height: 100px;
}
//Удалить до сюда

//style fullpage control
#fp-nav {
 ul {
  position: relative;
  &:before {
   background: #ffffff;
   position: absolute;
   content: ' ';
  width: 2px;
  height: 85%;
   left: 45%;
   top:7%
  }
 }
 span {
  background: white !important;
  border-radius: 0px !important;
 }
}
/** Первый блок **/
#firstPage {
 color: white;
 h1 {
  font-size: 4em !important;
  margin-top: 0px
 }
 .language {
  img {
   width: 80px;
   margin-left: 20px;
  }
  @media all and (max-width: 993px) {
   margin-top: 80px;
  }
 }
 .apartmentview {
  margin: 30px 0px 0px;
  color: black;
 }
 .linehrfirst {
  width: 30px;
  height: 2px;
  background: white;
  margin-bottom: 24px;
 }
 .socialproperty {
  position: relative;
  height: auto;
  padding: 0px;
  img {
   width: 20px;
   display: block;
   margin: 10px;
  }
  .imgmainwrap {
   height: 100%;
   width: 100%;
  }
  .dividerlinewrapborder {
   background: white;
   position: absolute;
   width: 2px;
   height: 36%;
   margin-left: calc(50% - 2px);
   margin-right: calc(50% - 2px);
  }
  .dtop {
   top: 0px
  }
  .btop {
   bottom: 0px;
  }
  .imgwrvw {
   margin: auto;
  }
 }
  .linktomap {
  margin: 30px 0px 0px 34px;
  border: 1px solid white;
  .bangtaobich {
   font-weight: bold;
  }
  img {
   width: 30px;
   margin: 3px 10px;
  }
 }
 }