@charset "UTF-8";
.str4 {stroke:black;stroke-width:0.91;stroke-linecap:round}
.str0 {stroke:black;stroke-width:8.47;stroke-linecap:round;stroke-linejoin:round}
.str3 {stroke:black;stroke-width:0.91;stroke-linecap:round;stroke-linejoin:round}
.str5 {stroke:black;stroke-width:16.93;stroke-linecap:round;stroke-linejoin:round}
.str2 {stroke:black;stroke-width:4.23;stroke-linecap:round;stroke-linejoin:round}
.str8 {stroke:black;stroke-width:4.23;stroke-linecap:round;stroke-linejoin:round}
.str1 {stroke:black;stroke-width:25.4;stroke-linecap:round;stroke-linejoin:round}
.str7 {stroke:#FA7D00;stroke-width:25.4;stroke-linecap:round;stroke-linejoin:round}
.str10 {stroke:#FF8F1F;stroke-width:25.4;stroke-linecap:round;stroke-linejoin:round}
.str6 {stroke:black;stroke-width:12.7;stroke-linecap:round;stroke-linejoin:round}
.str9 {stroke:black;stroke-width:12.7;stroke-linecap:round;stroke-linejoin:round}
.fil0 {fill:none;fill-rule:nonzero}
.fil1 {fill:black;fill-rule:nonzero}
.fil2 {fill:black;fill-rule:nonzero}
